.element{
    background-color: cadetblue;
    font-size: larger;
    position: absolute ;

  }
  .element::before{
    content: "";
    color: red;
    font-size: 20px;
    height: 200PX;
    width: 200px;
    background-color: aqua;
    position: absolute;
    z-index: -1;

  }
  .element::after{
    content:"";
    height: 300PX;
    width: 300px;
    background-color: rgb(76, 0, 255);
    position: absolute;
    left: 0;
    z-index: -2;
  }
  .image{
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
.image::before{
    content: "Hello";
}
