//declare a varible so that it can be used globally.watever we write here will be reflected in style.css folder whivh will be auto created
h1{
    background-color: aquamarine;
    font-style: italic;
}
p1{
    background-color: bisque;
    font-style: normal;
}